:root {
  --black: #000000;
  --gray: #454545;
  --white: #fff;
  --gradasi: linear-gradient(
    90deg,
    rgba(255, 185, 42, 1) 26%,
    rgba(191, 17, 38, 1) 53%,
    rgba(255, 0, 219, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
  overflow-x: hidden;
}

/* box search */
.box-search {
  width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray);
 
}

.box-search.sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}

.box-search .wrapper-search {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: #454545;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.box-search .close-search {
  text-decoration: none;
  color: var(--white);
  transform: scale(0);
  position: absolute;
  right: 6px;
  top: 4px;
}

.box-search .close-search.active {
  position: relative;
  transform: scale(1);
}
.box-search .wrapper-search span {
  
  color: white;
  position: relative;
  top: 3px;
}
.box-search .wrapper-search input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: white;
  padding: 5px;
  padding-right: 10px;
  font-size: 13px;
  transition: 0.3s;
}

/* icon */

/* container */

.container{
  width: 100%;
  background-color: var(--black);
  padding-bottom: 45px;

}

.container.none{
  display: none;
}

.container .content-item:nth-child(odd){
  width: 100%;
  height: 230px;
  display: flex;
}

.container .content-item:nth-child(odd) .card-left{
  max-width: 70%;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .content-item:nth-child(odd) .card-left .card-item{
  max-width: 200px;
  width: 50%;
  /* min-width: 50%; */
  height: 50%;
  border: 1px solid rgba(0,0,0);
  
}
.container .content-item:nth-child(odd) .card-left .card-item img{
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
}

.container .content-item:nth-child(odd) .card-right{
  width: 30%;
  max-width: 30%;
  height: 100%;
  display: flex;
}
.container .content-item:nth-child(odd) .card-right .card-item{
  min-width: 100px;
  max-width: 100%;
  border: 1px solid rgba(0,0,0);

}
.container .content-item:nth-child(odd) .card-right .card-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
 
}


/* even */
.container .content-item:nth-child(even){
  width: 100%;
  height: 230px;
  display: flex;
}

.container .content-item:nth-child(even) .card-left{
  max-width: 70%;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  order: 2;
}
.container .content-item:nth-child(even) .card-left .card-item{
  max-width: 200px;
  width: 50%;
  /* min-width: 50%; */
  height: 50%;
  border: 1px solid rgba(0,0,0);
  
}
.container .content-item:nth-child(even) .card-left .card-item img{
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
}

.container .content-item:nth-child(even) .card-right{
  width: 30%;
  max-width: 30%;
  height: 100%;
  display: flex;
  order: 1;
}
.container .content-item:nth-child(even) .card-right .card-item{
  min-width: 100px;
  max-width: 100%;
  border: 1px solid rgba(0,0,0);

}
.container .content-item:nth-child(even) .card-right .card-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
 
}

/* box search result */


.search-result {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  z-index: 99;
  height: 92vh;
  display: none;
  
}

.search-result.active{
  display: block;
  position: relative;
}


.search-result .slider-down {
  width: 100%;
  max-height: 85vh;
  padding: 10px;
  overflow: auto;
}

.search-result .slider-down::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slider-down .card-result {
  width: 100%;
  padding: 15px 0;
}

.slider-down .card-result .circle {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-down .card-result .circle span {
  position: relative;
  left: 5px;
}

.slider-down .card-result .circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.search-result .card-result a {
  text-align: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.slider-down .card-result .text-result {
  width: 100%;
  font-size: 12px;
  display: inline-block;
  text-align: start;
  padding-left: 10px;
}

.slider-down .card-result .text-result span {
  font-weight: 500;
}
.slider-down .card-result .text-result p {
  font-size: 12px;
  color: var(--gray);
}
